<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfd.home">

    <application>
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.CategoryActivity"/>
        <activity android:name=".ui.activity.MovieListActivity"/>
    </application>
</manifest>
