<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfd.music">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name=".ui.activity.SongListDetailActivity"      android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MvDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.activity.SearchActivity" />

        <service android:name=".service.MusicPlayService" />
    </application>

</manifest>