<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfd.music">

    <application>
        <activity android:name=".ui.activity.SongListActivity"/>
        <activity android:name=".ui.activity.MvDetailActivity"/>
        <service android:name=".service.MusicPlayService"/>
    </application>

</manifest>